@charset "UTF-8";
/* CSS Document */

html
{
	scroll-behavior: smooth;
  overflow-x: hidden;
}

#headerImg
{
  -webkit-clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);
  clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);
}

#headerLogo
{
  position: relative;
  top:-100px;
  left: -webkit-calc(50% - 219.3px);
  left: -moz-calc(50% - 219.3px);
  left: calc(50% - 219.3px);
}

.titel
{
	font-size: 18px;
	font-weight: bold;
}

#footerImg
{
  position: absolute;
  z-index: -1;
  background: url('../images/footer.png') no-repeat 0 0;
  height: 500px;
  width: 100%;
  background-size: cover;
}

p#footer
{
	margin-left:32px;
	font-size: 12px;
  color:white;
}

.w3-button:hover
{
	color: #000 !important;
  background-color: #2581C480 !important;
}

.contactzin
{
	margin-bottom: 10px;
}

#tekst
{
    resize:vertical;
    overflow:auto;
}

.btn
{
  height: 40px;
  display: block;
  background: linear-gradient(to right, #2581C480 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.btn:hover
{
  background-position: left bottom;
}

.hamburgerMenuLinks:hover
{
  background-color: #2581C480;
}

.iconText
{
  position: relative;
  top: 25px;
  width: 60%;
  margin:auto;
}

.iconImg
{
  cursor: pointer;
}

figure.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
   /* width: 15%;*/
   cursor: pointer;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    width:125px;
}

#webImg
{
  background: url('../images/webdesign-wit.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#webImg:hover
{
  background: url('../images/webdesign-blauw.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#responsiveImg
{
  background: url('../images/responsive-wit.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#responsiveImg:hover
{
  background: url('../images/responsive-blauw.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#hostingImg
{
  background: url('../images/domein-wit.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#hostingImg:hover
{
  background: url('../images/domein-blauw.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#appImg
{
  background: url('../images/app-wit.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}

#appImg:hover
{
  background: url('../images/app-blauw.png') no-repeat 0 0;
  width: 125px;
  height: 125px;
  background-size: 100%;
}


@media only screen and (max-width: 993px) {
    .iconText {
        /*width: 95vw !important;*/
    }
}

@media only screen and (max-width: 800px) {
    #headerLogo {
        height:150px !important;
        position: static !important;
    }
}

@media only screen and (max-width: 800px) {
    iframe
    {
      /*width:100vw !important;*/
    }
}

@media only screen and (max-width: 790px) {
  #menuItems{
    display: none;
  }
  #hamburgerIcon
  {
    display: block !important;
  }
  #iconContainer
  {
    width: 60%;
    margin:auto;
  }    
}

@media only screen and (max-width: 645px) {
  #iconContainer
  {
    width: 70%;
    margin: auto;
  }  
}

@media only screen and (max-width: 640px) {
    #headerLogo {
        height:100px !important;
    }
}

@media only screen and (max-width: 550px) {
  #iconContainer
  {
    width: 100%;
    margin: auto;
  }  
}